
table {
    border-collapse: collapse;
    background: #efbc21;
}


th {
    background: white;
    padding: 10px;
}

tr:nth-child(2n+1) {
    background: #345fec;
}

td {
    padding: 10px;
}


button {
    background: #e70e16;
    border: coral 50px;
}

.header-image {
    background-image: url('donald.jpg');
    width: 75px;
    height: 50px;
    background-size: contain;
}
